$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$base-color: #fff;
$medium: 768px;
body {
	font: 100% $font-stack;
	color: $primary-color;
	background: $base-color;
}

.radius {
	border-radius: 3px;
}
.button {
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	font-weight: 500;
	letter-spacing: .091em;
	line-height: 1em;
	border-style: solid;
	border-width: 1.1px;
	border-radius: 3px;
	padding: 1.8em 2.8em;
	text-align: center;
	white-space: nowrap;
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none;
	-moz-appearance: none;
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.add_form{
	margin: 100px auto 20px;
}

.tag{
	padding: 0;
	&__item{
		display: inline;
		padding: 7px .6em 7px;
		font-size: 85%;
		font-weight: 700;
		line-height: 10px;
		color: #fff;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		border-radius: .25em;
		height: 25px;
		margin-right: 8px;
	}
	&__remove{
		margin-left: 10px;
		color: #fff;
	}
	&span{
		display: inline-block;
	}
}

.red{
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.blue{
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;

}

.overlay{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	background-color: #000;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.open-modal{
	opacity:0.6;
	visibility: visible;
}

.custom_modal{
	visibility: hidden;
	opacity: 0;
	margin: auto;
	z-index: 1100;
	height: 324px;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(0);
	-moz-transform: translateX(-50%) translateY(0);
	-ms-transform: translateX(-50%) translateY(0);
	transform: translateX(-50%) translateY(0);
	-webkit-transition: all 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
	-moz-transition: all 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
	-o-transition: all 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
	transition: all 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */

	@media screen and (max-width: $medium) {
		height: 320px;
		width: 100%;
	}
	&.showModal{
		visibility: visible;
		opacity: 1;
		-webkit-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}
}

.modal-dialog {
	width: 600px;
	margin: 0 auto;
	@media screen and (max-width: $medium) {
		width: 99%;
		margin-top: 20px;
	}
}

.modal-content {
	border-radius: 3px;

}