<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">

	<title>Adcash test</title>
</head>
<body >
<div id="root">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-xs-12">

				<!-- Add Tags Form-->
				<form class="add_form" data-bind="submit: formSubmit">
					<div class="form-group">
						<label for="tags">Type tags here using comma,semicolon and line break as delimiters</label>
						<textarea class="form-control radius" data-bind="textInput: tags" name="tags" id="tags" cols="30" rows="10"></textarea>
					</div>
					<button class="button" type="submit">Add Tags</button>
				</form>
				<pre><ul class="tag" data-bind="foreach: tempNum"><li data-bind="css: color" class="tag__item"><span data-bind="text: value"> </span><a href="#" class="tag__remove" data-bind="click: $parent.removeTags"><span class="glyphicon glyphicon-remove"></span></a></li></ul>
				</pre>
				<button class="button tag__edit" data-bind="click: editTagsHandler" type="submit">Edit Tags</button>
			</div>
		</div>
	</div>


	<!--Modal-->
	<div id="myModal" class="custom_modal" role="dialog" data-bind="css: showModal">
		<div class="modal-dialog">

			<!-- Modal Content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" data-bind="click: closeModal">&times;</button>
					<label class="modal-title">Edit tags here, using the ones you used before :)</label>
				</div>
				<div class="modal-body">
					<!--Edit Tags-->
					<form class="form edit__form" data-bind="submit: editSubmit">
						<div class="form-group">
							<label for="tags_edit"></label>
							<textarea class="form-control radius" data-bind="textInput: editTags" name="tags_edit" id="tags_edit" cols="20" rows="7"></textarea>
						</div>
						<button class="button" type="submit">Edit Tags</button>
					</form>
				</div>

			</div>

		</div>
	</div>

	<div class="overlay" data-bind="css: bodyModal ,click: closeModal"></div>

</div>
<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"> </script>
	</body>
</html>